:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-color: #ccc;
  --accent-color: #4CAF50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181818;
    --text-color: #dbdbdb;
    --border-color: #dbdbdb;
    --accent-color: #4b9f4e;
    --shadow-color: #1d1c1c;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 24px;
  padding: 24px;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 8px;
  }

  label {
  display: block;
  margin: 8px 0 5px;
  font-weight: bold;
  }   
}
.container {
  max-width: 100svw;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

h1, h2 {
  color: var(--text-color);
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="time"], button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type="time"] {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.input-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  label {
    font-size: 1rem;
  }

  input[type="time"], button {
    padding: 8px;
  }

  button {
    font-size: 1rem;
  }
}
